<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card m-4">
     <div class="card-header">
        <h2>{{user_profile.name}}</h2>
        <h2>{{user_profile.email}}</h2>
        <h2>{{user_profile.phone}}</h2>
        <hr>
        <h3>Summary</h3>
        <p>{{user_profile.summary}}</p>
        <hr>
        <h3>Career Objective</h3>
        <p>{{user_profile.career_objective}}</p>
        <hr>
    
        <h3>Education</h3>
        <p>{{user_profile.education}}</p>
        <hr>
        <h3>Experience</h3>
        <p>{{user_profile.experience}}</p>
        <hr>
        <h3>Skill</h3>
        <p>{{user_profile.skill}}</p>
        <hr>
        <h3>Certificate</h3>
        <p>{{user_profile.certificate}}</p>
        <hr>
        <h3>Project</h3>
        <p>{{user_profile.project}}</p>
        
     </div>
    </div>


</body>
</html>